:root {
    /* App Colors */
    --color-primary: var(--color-lightgray);
    --color-primary-variant: var(--color-black);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-gray);
    --color-text: var(--color-navy);
    
    /* Colors */
    --color-blue: rgb(116, 151, 190);
    --color-navy: rgb(37, 69, 103);
    --color-gray: rgb(208, 208, 226);
    --color-lightgray: rgb(235, 236, 243);
    --color-black: rgb(14, 21, 27);
    --color-white: white;
    --color-whitegray: rgb(235, 236, 243);
  
    /* Size */
    --size-max-width: 1200px;

     /* Divider */
    --divider-single-wave: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" ></path> </svg>');
    --divider-multi-wave: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" ></path> </svg>');
    --divider-arrow: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M649.97 0L550.03 0 599.91 54.12 649.97 0z" ></path> </svg>');

  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  /* Common */
.section {
  padding: 4rem;
  text-align: center;
}

.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

  #home {
      position: relative;
      color: var(--color-text);
  }

  .home__container {
    display: grid;
    grid-template-columns: 5fr 5fr;
    padding: 3rem;
    overflow: hidden;
    align-items: center; 
  }

  .home__title {
    font-size: 1.7rem;
  }

  .home__description {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .home__title--strong {
    color: var(--color-accent);
  }
  .home__logo {
    width: 250px;
    margin-bottom: 1rem;
  }
  
  .home__sideImg {

    width: 500px;
  }
  
  .home__fileButton {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-white);
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 8rem;
  }
  .home__fileButton:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solod var(--color-accent);
  }

  /* #home::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

  }

  .home__divider .shape-fill {
    fill: #FFFFFF;
  }

  .home__avatar {
    width: 250px;
    height: 250;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid var(--color-accent);
  }

  .home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .home__title--strong {
    color: var(--color-accent);
  }

  .home__description {
    font-size: 1.3rem;
  }

  .home__contact {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
  }

  .home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solod var(--color-accent);
  } */